.cache/
artifacts/
*.o
.venv/
.locald/
.DS_Store
__pycache__/
external/
.tmp-dub-home/
benchmarks/dub_pgo_workspace/artifacts/
benchmarks/dub_pgo_workspace/dub-pgo-workspace
benchmarks/dub_pgo_workspace/dub-pgo-workspace-test-application
benchmarks/dub_pgo_workspace/packages/*/lib*.a
